/* Three columns side by side */
.column {
    float: left;
    width: 40%;
    margin-bottom: 16px;
    padding: 0 8px;

}

#square {
	width: 100px;
	height: 100px;
	background: red;
	margin-left: auto;
	margin-right: auto;
}

#person {
    border-radius: 50%;
}

/* Display the columns below each other instead of side by side on small screens */
@media (max-width: 650px) {
	.column {
        width: 100%;
        display: block;
    
	}

}

/* Add some shadows to create a card effect */
.card {

}

/* Some left and right padding inside the container */
.container {
    padding: 0 16px;

}

/* Clear floats */
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;

}

.title {
    color: grey;

}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;

}

.button:hover {
    background-color: #555;

}

.arrange-horizontally > * {
    display: inline-block;
    text-align: center;

}
