{% assign posts = site.posts %}
{% if site.paginate > 0 %}{% assign posts = paginator.posts %}{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<style>

#fade {
    opacity: 0;
}

#fade-2 {
    opacity: 0;
}

#fade-3{
    opacity:0;
  }


</style>

<center>
	<div id="fade">
	<h2>
		Welcome to Ozeki,  Scientific Consulting.  <br><br> 

	</h2>
	</div>

	<div id="fade-2">
	<h1>
		Bringing the <span style="background-color: white"> <font color="black"> state-of-the-art</font> </span> to your business. <br><br>
	</h1>
	</div>

	<div id="fade-3" style="text-align:center"><button onclick="window.location.href='/education';">Get Started</button></div>

</center> 


<section id="posts" class="posts-expand">
  {% for post in posts %}
    {% assign is_index = true %}
    {% include _macro/post.html %}
  {% endfor %}
</section>

<script>
$("#fade").delay(1000).animate({"opacity": "1"}, 800);
$("#fade-2").delay(1900).animate({"opacity": "1"}, 800);
$("#fade-3").delay(2800).animate({"opacity": "1"}, 800);
</script>


{% include _partials/pagination.html %}
