{% assign posts = site.posts %}
{% if site.paginate > 0 %}{% assign posts = paginator.posts %}{% endif %}

<center>
	<h1>
		<font color="#8c8c8c">Welcome to Ozeki,  Scientific Consulting. </font> <br><br> 


	</h1>
	<h1>
		Bringing the <span style="background-color: black"> <font color="white"> state-of-the-art</font> </span> to your business. 
	</h1>

</center> 

<section id="posts" class="posts-expand">
  {% for post in posts %}
    {% assign is_index = true %}
    {% include _macro/post.html %}
  {% endfor %}
</section>

{% include _partials/pagination.html %}
