<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<style>

#fade {
    opacity: 0;
}

#fade-2 {
    opacity: 0;
}

#fade-3{
    opacity:0;
  }


</style>

<center>
	<div id="fade">
	<h2>
		Deep Tech Consulting and Research.  <br><br> 

	</h2>
	</div>

	<div id="fade-2" style="text-align:center"><button onclick="window.location.href='/education';">Get Started</button></div>
</center> 


<script>
$("#fade").delay(1000).animate({"opacity": "1"}, 800);
$("#fade-2").delay(1900).animate({"opacity": "1"}, 800);
$("#fade-3").delay(2800).animate({"opacity": "1"}, 800);
</script>

